<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite Stats Widget</title>
    @(this.RenderSection("head", required: false))
</head>
<body>
    @(this.RenderBody())
    @(this.RenderSection("bottom", required: false))
</body>
</html>
